@charset "UTF-8";

body { font-family: Arial, sans-serif; display: flex; flex-direction: column; align-items: center; background-color: #f0f0f0; }

.container { display: flex; gap: 20px; margin-top: 20px; }

.panel { background-color: #72a0c1; color: white; padding: 20px; border: 1px solid #555; width: 300px; }

.server-panel { width: 400px; color: black; background-color: #8db6d4; }
        h1 { background: linear-gradient(to right, #fff, #8db6d4); width: 100%; text-align: center; padding: 10px; margin: 0; }
        button { cursor: pointer; padding: 5px 15px; margin: 5px 0; }

.cliente-input { background: white; color: black; padding: 10px; margin-bottom: 10px; border-radius: 4px; }


.result-item { margin: 5px 0; font-weight: bold; }
    
.red { color: darkred; }
